<div class="card text-left" style=" width: 300px;left: 0; border: 0px;">
    <div class="card-body pl-0 pt-0">
        <h4 class="card-title" style="padding: 20px; background-color:palegreen;">Products Filter</h4>
        <div class="card mb-2 border-0" id="byType"></div>
        <div class="card mb-2 border-0" id="byColor"></div>
        <div class="card mb-2 border-0" id="bySize"></div>
        <div class="card mb-2 border-0" id="byBrand"></div>
        <div class="card mb-2 border-0" id="byPrice"></div>
    </div>
</div>