<div class="card-body">
    <h6 class="card-title p-0 m-0">Filter by color </h6><hr class="mt-2 mb-2">
    <form action="">
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customRadio6" name="by-color" value="customEx">
            <label class="custom-control-label" for="customRadio6">blue</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customRadio7" name="by-color" value="customEx">
            <label class="custom-control-label" for="customRadio7">red</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customRadio8" name="by-color" value="customEx">
            <label class="custom-control-label" for="customRadio8">grey</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customRadio9" name="by-color" value="customEx">
            <label class="custom-control-label" for="customRadio9">indigo</label>
          </div>
    </form>
</div>