<div class="card-body">
    <h6 class="card-title p-0 m-0">Filter by brand </h6><hr class="mt-2 mb-2">
    <form action="">
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customRadio13" name="by-brand" value="customEx">
            <label class="custom-control-label" for="customRadio13">ZARA</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customRadio14" name="by-brand" value="customEx">
            <label class="custom-control-label" for="customRadio14">LCW</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customRadio15" name="by-brand" value="customEx">
            <label class="custom-control-label" for="customRadio15">BERSHKA</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customRadio16" name="by-brand" value="customEx">
            <label class="custom-control-label" for="customRadio16">PULL&BEAR</label>
          </div>
    </form>
</div>