<div class="card-body">
    <h6 class="card-title p-0 m-0">Filter by size </h6><hr class="mt-2 mb-2">
    <form action="">
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customRadio10" name="by-size" value="customEx">
            <label class="custom-control-label" for="customRadio10">Small</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customRadio11" name="by-size" value="customEx">
            <label class="custom-control-label" for="customRadio11">Medium</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customRadio12" name="by-size" value="customEx">
            <label class="custom-control-label" for="customRadio12">Large</label>
          </div>
    </form>
</div>