<div class="card-body">
    <h6 class="card-title p-0 m-0">Filter by type</h6><hr class="mt-2 mb-2">
    <form action="">
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customRadio1" name="by-type" value="customEx">
            <label class="custom-control-label" for="customRadio1">Chemise</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customRadio2" name="by-type" value="customEx">
            <label class="custom-control-label" for="customRadio2">Jeans</label>
          </div><div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customRadio3" name="by-type" value="customEx">
            <label class="custom-control-label" for="customRadio3">T-Shirt</label>
          </div>
    </form>
</div>