<div class="card-body">
    <h6 class="card-title p-0 m-0">Filter by price </h6><hr class="mt-2 mb-2">
    <form action="">
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customRadio17" name="by-price" value="customEx">
            <label class="custom-control-label" for="customRadio17">Low To High</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="customRadio18" name="by-price" value="customEx">
            <label class="custom-control-label" for="customRadio18">High To Low</label>
          </div>
    </form>
</div>